{% extends 'store/base.html' %}
{% block content %}

<form method="post" action="" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="fields_register">
        {% for i in form %}
            <p class="label_register">{{i.label}}</p>
            <p class="field_register">{{i}}</p>
        {% endfor %}
        <p class="field_register">
        {% if err %}
            <p class="errorlist">{{err}}</p>
        {% endif %}

        </p>
        <button type="submit" class="register-wrap">
            <a class="register">
                <div class="box-2">
                    <div class="btn btn-two">
                        <span>Добавить</span>
                    </div>
                </div>
            </a>
        </button>

    </div>
</form>

{% endblock %}