{% extends 'store/base.html' %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="fields_register">
        {% for i in form %}
            <p class="label_register">{{i.label}}</p>
            <p class="field_register">{{i}}</p>
        {% endfor %}
            <div class="div_button">
                <div class="round"></div>
                <div class="round2"></div>
                <div class="round3"></div>
                <button class="login_button" type="submit">Добавить</button>
            </div>
    </div>

</form>

{% endblock %}