<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link  rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <meta charset="UTF-8">
    <title>IT'S NEW STORY</title>

</head>
<body>


<div class="main_logo">
    <a href="{% url 'main' %}"><img src="{% static 'images/logo.png' %}"></a>
</div>
    {% if request.user.is_superuser %}
        <a class="addpost" href="{url 'addproduct'}">Добавить</a>
    {% endif %}

{% if user.is_authenticated %}
 <h2>
        <a class="register" href="{% url 'logout' %}">
            <div class="box-2">
                <div class="btn btn-two">
                    <span>Выход</span>
                </div>
            </div>
        </a>
    </h2>

    <h2 class="register-wrap">
        <a class="register">
            <div class="box-2">
                <div class="btn btn-two">
                    <span>{{user.username}}</span>
                </div>
            </div>
        </a>
    </h2>
{% else %}
    <h2 class="register-wrap">
        <a class="register" href="{% url 'register' %}">
            <div class="box-2">
                <div class="btn btn-two">
                    <span>Регистрация</span>
                </div>
            </div>
        </a>
    </h2>
 <h2>
        <a class="register" href="{% url 'login' %}">
            <div class="box-2">
                <div class="btn btn-two">
                    <span>Вход</span>
                </div>
            </div>
        </a>
    </h2>

{% endif %}
    <div class="main_round">
                <div class="round"></div>
                <div class="round2"></div>
                <div class="round3"></div>
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>