{% extends 'store/base.html' %}
{% block content %}


<div class="main_table">
    {% for i in model %}
        <div class="product">
            <a href="{% url 'order'%}/{{i.id}}" >
                <img src="{{i.img.url}}" onerror="this.src='https://www.ixbt.com/img/x780x600/n1/news/2021/10/2/22459ff25f8eff76bddf34124cc2c85b16f4cd4a_large.jpg'" alt="" class="imgproduct"  >
                <h1>
                    <p>{{i.name.name}}{{i.name}}</p>
                    <p>Описание: {{i.description}}</p>
                    <p>Цена за день {{i.prise_day}}</p>
                    <p>Неделя {{i.prise_week}}</p>
                </h1>
            </a>
       </div>
    {% endfor %}
</div>


{% endblock %}