body{
    background-image: linear-gradient( #ba29ba, #3d1599,#ba29ba);
    min-height: 95vh;
    max-width: 97vw;

    background-size: auto 400vw;


}

/*.register{*/
/*    float: right;*/
/*    top: 0;*/
/*    text-decoration: none;*/
/*    margin-right: 5px;*/
/*    background: linear-gradient(45deg, #3d1599 20%,#ba29ba , #9c06a1 50%);*/
/*    box-shadow: 0 0 10px 1px #19fae7;*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    font-size: 2vw;*/

/*}*/
/*.register:hover{*/
/*    background: linear-gradient(45deg, #002cc9 20%, #0c9cf5 40%, #19fae7);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    box-shadow: 0 0 10px 2px #19fae7;*/
/*}*/
div[class*=box] {
  font-size: 2vw;
  height: auto;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
    float: right;
  margin-right: 4px;
  border-radius: 20px;
  box-shadow: 0 0 10px 3px darkviolet;
}


.box-2 { background-color: black;
    margin-left: 10vw;

}
.register-wrap{
    border-style: none;
    background-color: inherit;


}
.btn {
  line-height: 3vw;
  height: 3vw;
  text-align: center;
  width: 12vw;
  cursor: pointer;

}
.btn-two {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.btn-two span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn-two::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
  border-radius: 20px;

}
.btn-two::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
  border-radius: 20px;
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);

}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);

}

.fields_register{
  margin-left: 25vw;
  width: 70vw;
    position: absolute;

}
.label_register{
  font-size: 2vw;
    display: inline-block;
}
.field_register input{
  width: 35vw;
  height: 3vw;
  font-size: 3vw;
  border-radius: 20px;
  box-shadow: 0 0 9px 3px aqua;
    font-family: "JetBrains Mono Light";
}
.div_button{
    margin-left: 10vw;
    margin-top: 3vw;
    height: 20vw;
}
/*.round{*/
/*  width: 10vw;*/
/*  height: 10vw;*/
/*  border-radius: 100%;*/
/*  background-color: #FFFFFF;*/

/*}*/

.login_button{
    position: absolute;
    width: 13vw;
    height: 5vw;
  margin-top: 2vw;
}
.round {
   width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background-color: #FFFFFF;
  color: white;
  position: absolute;
  opacity: .3;

  -webkit-animation: 10s linear 0s infinite alternate move_eye;
     -moz-animation: 10s linear 0s infinite alternate move_eye;
       -o-animation: 10s linear 0s infinite alternate move_eye;
          animation: 10s linear 0s infinite alternate move_eye;
}
@-webkit-keyframes move_eye { from { margin-left: -2vw; } to { margin-top:12vw; }  }
   @-moz-keyframes move_eye { from { margin-left:-2vw; } to { margin-top:10vw; }  }
     @-o-keyframes move_eye { from { margin-left:-2vw; } to { margin-top:16vw; }  }
        @keyframes move_eye { from { margin-left:-2vw; } to { margin-top:6vw; }  }

.round2 {
   width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background-color: #fa2d56;
  color: #fa2d56;
  position: absolute;
  opacity: .3;

  -webkit-animation: 3s linear 0s infinite alternate move_eye2;
     -moz-animation: 3s linear 0s infinite alternate move_eye2;
       -o-animation: 3s linear 0s infinite alternate move_eye2;
          animation: 3s linear 0s infinite alternate move_eye2;
}
@-webkit-keyframes move_eye2 { from { margin-left: 5vw; } to { margin-top:6vw; }  }
   @-moz-keyframes move_eye2 { from { margin-left:5vw; } to { margin-top:10vw; }  }
     @-o-keyframes move_eye2 { from { margin-left:5vw; } to { margin-top:16vw; }  }
        @keyframes move_eye2 { from { margin-left:5vw; } to { margin-top:6vw; }  }

.round3 {
   width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background-color: #4112ff;
  color: #4112ff;
  position: absolute;
  opacity: .3;

  -webkit-animation: 3s linear 0s infinite alternate move_eye3;
     -moz-animation: 3s linear 0s infinite alternate move_eye3;
       -o-animation: 3s linear 0s infinite alternate move_eye3;
          animation: 3s linear 0s infinite alternate move_eye3;
}
@-webkit-keyframes move_eye3 { from { margin-left: -2vw; } to { margin-left:10vw; }  }
   @-moz-keyframes move_eye3 { from { margin-left:-2vw; } to { margin-left:10vw; }  }
     @-o-keyframes move_eye3 { from { margin-left:-2vw; } to { margin-left:10vw; }  }
        @keyframes move_eye3 { from { margin-left:-2vw; } to { margin-left:10vw; }  }


.main_logo img{
    background-color: #ba29ba;
    mix-blend-mode: darken;
    width: 20vw;
    position: absolute;
    -webkit-box-reflect: below 10px ;
}
.main_round{
    margin-left: 15vw;
    margin-top: 15vw;
    position: absolute;
}
.main_table{

    width: 70vw;
    margin-left: 14vw;


}
.product{
    width: 20vw;
    height: 30vw;
    padding: 5vw;
    display: inline-block;
    float: left;


}
.product h1{
    background-color: rgba(110, 109, 109, 0.6);
    box-shadow: 0 0 5px 2px rgba(110, 109, 109, 0.6);
    margin-top: -1vw;
    font-family: "Droid Sans Mono";
    color: bisque;
    font-size: 2vw;
    position: absolute;
    text-align: center;
    padding: 1vw;
    width: 20vw;
}

.imgproduct{
    width: 22vw;
    height: 17vw;
    object-fit: cover;

    border-radius: 50%;
    -webkit-box-reflect: below 10px ;
}
.addpost{
    text-decoration: none;
    position: absolute;
    font-size: 2vw;
    color: white;
    font-family: "JetBrains Mono Light";
    padding: 5px;
    background-color: cadetblue;
    margin-left: 50%;
    opacity: .5;
    box-shadow: 0 0 30px 3px darkcyan;
}
.data{
    width: 20vw;
    height: 3vw;
    display: inline;
    font-size: 2vw;
    font-family: "JetBrains Mono Light";
}
.errorlist{
    position: absolute;
    font-size: 3vw;
    color: white;
    font-family: "JetBrains Mono Light";
    padding: 5px;
    background-color: cadetblue;
    opacity: .5;
    box-shadow: 0 0 30px 3px darkcyan;
}
.right_games{
    top: 0;
    right: 0;
    width: 25vw;
    border: 2px solid black;
    min-height: 60vw  ;
    position: absolute;
    background-color: black;
}
.game_icon img{
    width: 6vw;
    display: inline-block;
    float: left;
    padding: 1%;
    object-fit: cover;
    height: 7vw;

}
.game_icon img:hover{
    width: 10vw;
    height: auto;



}